# =================================
# GO BACKEND
# =================================

*.exe
*.dll
*.so
*.dylib
*.test
*.out

.env
.env.*

uploads/

# =================================
# REACT FRONTEND
# =================================

node_modules/
dist/
build/
coverage/
.vite/

# =================================
# IDE
# =================================

.vscode/
.idea/

# =================================
# OS FILES
# =================================

.DS_Store
Thumbs.db

# =================================
# LOGS
# =================================

*.log

# =================================
# TEMP FILES
# =================================

tmp/
temp/